body{
    background-color: #C73E3A;
    color: gainsboro;
    font-family: sans-serif;
    width: 100%;
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 400px 220px;
    justify-items: center;
}

.head{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.center p {
    margin: 12px 0px 12px 0px;
}

b {
    font-family: 'Courier New', Courier, monospace;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 40px;
    width:100px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    background-color: #6699A1;
}

#scoreboard{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
}

.marg{
    margin: 25px 0px -5px 0px;
}